body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color:#161616;
}
.left_area{
  background: linear-gradient(#0F0F0F,#161616,#161616);
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
}
.left_area .profile_image{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
.left_area span{
  color: #fff;
  display: block;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  font-weight: 900;
  margin-top: -20px;
}
.isilatihan{
  background-color: #474747;
  width: 60%;
  height: 75%;
  top: 10%;
  left: 130px;
  position: fixed;
  border-radius: 20px;
  transform: translate(300px, 0px);
}
.isilatihan h3{
  color: #F1F1F1;
  text-transform: capitalize;
  font-family: "calibri" sans-serif;
  margin-left: 20%;
  font-size: 60px;
  position: fixed;
  text-shadow: 5px 3px 4px #0F0F0F;
}
.isilatihan .button1{
  background-color: #161616;
  border: none;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 10%;
}
.isilatihan .button1:hover{
  background: #999999;
}
.konversinilai {
  position: relative;
  margin-top: 25%;
  margin-left: 40%;
  line-height: 60px;
}
.konversinilai p{
  margin-left: 15%;
  margin-top: -2%;
}
label{
  color: #bfbfbf;
  font-size: 20px;
}
input[type=text]{
  padding: 5px;
  border-radius: 5px;
  border: 1px #bfbfbf;
}
p{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: #161616;
  border-radius: 5px;
  width: 60px;
}
.isilatihan .calc{
  line-height: 40px;
  margin-top: 25%;
  margin-left: 0%;
  text-align: center;
}
.isilatihan .calc .buttoncalc{
  color: #ffffff;
  background-color: #161616;
  box-sizing: border-box;
  border-color: #161616;
  padding: 20px,20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}
.isilatihan .calc .buttoncalc:hover{
  background: #999999;
